.diff {
    width: 50%;
    height: auto;
    text-align: center;
    float: left;
}

.fixed {
    table-layout: fixed;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.link {
    color: #212529;
    text-decoration: none;

}

.link:hover {
    color: #007AFF;
    transition: color 0.5s;
    text-decoration: none;
}

.link:active {
    color: #212529;
    text-decoration: none;
}
.icon-grey {
    color: #212529;
}
.search:hover .icon {
    color: #F2F2F2;
}
.row-element {
    margin: 0 5px 0 5px;
    height: 40px;
}
.row-element-last-right {
    margin-left: 5px;
    height: 40px;
}
.row-element-last-left {
    margin-right: 5px;
    height: 40px;
}
.dropdown-icon {
    font-size: 18px;
}
.icon-green {
    color: #30B65F;
}
.icon-yellow {
    color: #FDCB4A;
}
.table-info {
    font-size: 10px;
    color: #212529;
}