{% load paginator_tags static %}

<div class="container text-center gx-0 ">
    <div class="d-flex justify-content-end">

        {% if task_query.params_count > 0 %}
            <div class="row-element">
                <a href="{{ request.path }}">
                    <button class="btn btn-outline-primary" type="submit">
                        <i class="bi bi-x"></i> Clear
                    </button>
                </a>
            </div>
        {% endif %}
        <div class="row-element">
            {% if user.is_authenticated %}
                <div class="input-group mb-3">

                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {% if "status" in task_query.params %}
                            {% if request.GET.status == "to-add" %}
                                <i class="bi bi-plus dropdown-icon" style="font-size: 16px"></i> To add
                            {% elif request.GET.status == "in-my-problems" %}
                                <i class="bi bi-braces dropdown-icon icon-yellow" style="font-size: 16px"></i> In
                                my problems
                            {% elif request.GET.status == "solved" %}
                                <i class="bi bi-check dropdown-icon icon-green" style="font-size: 16px"></i>
                                Solved
                            {% endif %}

                        {% else %}
                            Status
                        {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               onclick="redirect(query_param='status', query_value='to-add', elem_id=null)"><i
                                class="bi bi-plus dropdown-icon"></i> To add</a>
                        </li>
                        <li><a class="dropdown-item"
                               onclick="redirect(query_param='status', query_value='in-my-problems', elem_id=null)"><i
                                class="bi bi-braces dropdown-icon icon-yellow"></i> In
                            my problems</a></li>
                        <li><a class="dropdown-item"
                               onclick="redirect(query_param='status', query_value='solved', elem_id=null)"><i
                                class="bi bi-check dropdown-icon icon-green"></i>
                            Solved</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="row-element">
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {% if "source" in task_query.params %}
                        {{ request.GET.source }}

                    {% else %}
                        Source
                    {% endif %}

                </button>
                <ul class="dropdown-menu">
                    {% for spoj in spojs %}
                        <li><a class="dropdown-item"
                               onclick="redirect(query_param='source', query_value='{{ spoj.name }}', elem_id=null)">{{ spoj.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row-element">
            <div class="input-group">
                <input id="searchInput" name="search" type="search" class="form-control" placeholder="Search tasks"
                       onchange="redirect(query_param='search', query_value=null, elem_id='searchInput')"
                       value="{% if "search" in task_query.params %}{{ request.GET.search }}{% endif %}">
                <button class="btn btn-outline-dark search"
                        onclick="redirect(query_param='search', query_value=null, elem_id='searchInput')" type="submit">
                    <i class="bi bi-search icon-grey icon"></i>
                </button>

            </div>
        </div>
        {% if tasks.has_other_pages %}
            <div class="row-element-last-right">
                <nav aria-label="Topics pagination" class="mb-4">
                    <ul class="pagination">
                        {% if tasks.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                   onclick="redirect(query_param='page', query_value='{{ tasks.previous_page_number }}')"><i
                                        class="bi bi-chevron-left"></i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link"><i class="bi bi-chevron-left"></i></span>
                            </li>
                        {% endif %}
                        {% if tasks.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   onclick="redirect(query_param='page', query_value='{{ tasks.next_page_number }}')"><i
                                        class="bi bi-chevron-right"></i></a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link"><i class="bi bi-chevron-right"></i></span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
    <div class="d-flex justify-content-end">
        <span class="table-info">Showing {{ tasks.start_index }}-{{ tasks.end_index }} out of {{ tasks_count }} results</span>
    </div>
</div>

