{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SPOJ Tutor{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">
    {% endblock stylesheet %}
</head>
<body>
{% block body %}

    {% block nav %}
        <nav class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">SPOJ Tutor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% block navbar_items %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'tasks' %}">Explore</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user_tasks' %}">My Problems</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                        {% endblock navbar_items %}
                    </ul>
                    {% if user.is_authenticated %}
                        <div class="navbar-text dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'my_account' %}">My account</a></li>
                                <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <form class="form-inline">
                            <a href="{% url 'login' %}" class="btn btn-outline-light">Log In</a>
                            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock nav %}
    {% block container %}
        <div class="container mx-auto mt-5">
            {% block content %}
            {% endblock %}
        </div>


        {% block scripts %}

        {% endblock scripts %}
        </div>
        {% block footer %}



            <div class="container">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
                    <div class="col-md-4 d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 200 200">
                            <rect width="100%" height="100%" fill="#F9C846"/>
                            <text x="50%" y="50%" fill="#FFFFFF" font-family="Comic Sans MS" font-size="160"
                                  text-anchor="middle"
                                  dominant-baseline="central">D
                            </text>
                        </svg>
                        <span class="mx-2 mb-3 mb-md-0 text-body-secondary">&copy; 2023 Doodle Company, Inc</span>
                    </div>
                </footer>
            </div>


        {% endblock footer %}
    {% endblock container %}
{% endblock body %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>