{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock stylesheet %}

{% block navbar_items %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'tasks' %}">Explore</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_tasks' %}">My Problems</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
    </li>

{% endblock navbar_items %}
{% block container %}


    <div class="stats">
        <div class="card card-simple card-solved card-info">Solved tasks
            <h1 class="main-text">
                {{ stats.solved_no }}<span class="secondary-text">/{{ stats.saved_no }}</span>
            </h1>
            That's {{ stats.solved_ratio }}% of all your saved tasks
        </div>
        <div class="card card-simple card-unsolved card-info">Saved tasks
            <h1 class="main-text">
                {{ stats.saved_no }}<span class="secondary-text">/{{ stats.total_no }}</span>
            </h1>
            That's {{ stats.saved_ratio }}% of all available tasks
        </div>
        <div class="card card-simple card-tall card-solved">
            Solved tasks spojs
            <div id="container">
                <canvas id="solved"></canvas>
            </div>
        </div>
        <div class="card card-simple card-tall card-unsolved">
            Unsolved tasks spojs
            <div id="container">
                <canvas id="unsolved"></canvas>
            </div>
        </div>
        <div class="card card-wide-tall">Solved tasks
            <div class="mx-auto solved-history" id="container">
                <canvas id="solvedHistory"></canvas>
            </div>
        </div>
        <div class="card card-wide">
            Task difficulty distribution
            <div id="container">
                <canvas id="difficulty"></canvas>
            </div>
        </div>
    </div>

    {% include 'dashboard/charts.html' %}
{% endblock container %}
{% block scripts %}
    {{ block.super }}


{% endblock scripts %}