{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-between">
    <h3>Problem:</h3>
    <form method="post" action="{% url 'single_user_task' user_task.id %}">
        {% csrf_token %}
        {% if user_task.finished_date is None %}
            <button class="btn btn-outline-success" type="submit" name="solve" value="{{ user_task.id }}">Add to solved <i class="bi bi-check"></i></button>
        {% else %}
            <button class="btn btn-outline-danger" type="submit" name="undo-solve" value="{{ user_task.id }}">Remove from solved <i class="bi bi-x"></i></button>
        {% endif %}
    </form>
    </div>
    {% include "tasks/task_info.html" with task=user_task.task_id %}

    <form method="post" enctype="multipart/form-data" novalidate>

        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-dark my-4">Save changes</button>
    </form>

{% endblock content %}