{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock stylesheet %}
{% block content %}
    <table class="table my-2">
        <thead class="table-dark ">
        <tr>
            <th>Task</th>
            <th>Difficulty</th>
            <th>Source</th>
            <th>Url</th>
            {% if user.is_authenticated %}
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td class="w-50"><a class="align-middle link-dark" href="{% url 'single_task' task.id %}">{{ task.title }} </a></td>
                <td class="align-middle">
                    <div class="diff container-lg rounded-2 gradient-container">{{ task.difficulty | add:1 }}/{{ task.spoj.amount_of_difficulty_levels }}</div>
                </td>
                <td class="align-middle">{{ task.spoj }}</td>
                <td class="align-middle"><a class="link-dark" href={{ task.url }} target="_blank"
                                            rel="noopener noreferrer">link</a></td>
                {% if user.is_authenticated %}

                    <td class="align-right"><a class="bp3-align-right btn btn-dark" href="#"
                    >Add</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#TODO: extract paginated form #}
    {% if is_paginated %}
        <nav aria-label="Topics pagination" class="mb-4">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}

                {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                {% for i in page_range %}
                    {% if page_obj.number == i %}
                        <li class="active page-item">
                            <span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        {% if i == paginator.ELLIPSIS %}
                            <li class="page-item">
                                <span class="page-link">{{ paginator.ELLIPSIS }}</span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

{% endblock content %}
{% block scripts %}
    <script>
        const difficulty_divs = document.getElementsByClassName('diff container-lg rounded-2 gradient-container')
        for (let i = 0; i < difficulty_divs.length; i++) {
            const level = parseInt(difficulty_divs[i].innerText.split('/')[0])
            const all_levels = parseInt(difficulty_divs[i].innerText.split('/')[1])

            const div_color = 'hsl(' + (100 - 100.0 / (all_levels - 1) * (level - 1)) + ', 55%, 70%)';
            const font_color = 'hsl(' + (100 - 100.0 / (all_levels - 1) * (level - 1)) + ', 85%, 95%)';
            difficulty_divs[i].style.backgroundColor = div_color;
            difficulty_divs[i].style.color = font_color;
        }

    </script>
{% endblock scripts %}