{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock stylesheet %}
{% block content %}


    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-12 col-sm-12">
            {% include 'includes/table_nav.html' %}

            <table class="fixed table table-striped my-2 align-middle">
                <thead class="table-dark ">
                <tr>

                    {% if user.is_authenticated %}
                        <th style="width: 50%">Task</th>
                        <th style="width: 20%">Difficulty</th>
                        <th style="width: 20%">Source</th>
                        <th style="width: 10%">Status</th>
                    {% else %}
                        <th style="width: 55%">Task</th>
                        <th style="width: 20%">Difficulty</th>
                        <th style="width: 25%">Source</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="title"><a class="link" href="{% url 'single_task' task.id %}">{{ task.title }}</a>
                        </td>
                        <td>
                            <div class="diff container-lg rounded-2" id="diff">
                                {{ task.difficulty | add:1 }}/{{ task.spoj.amount_of_difficulty_levels }}
                            </div>
                        </td>
                        <td>
                            <a class="link" href={{ task.url }} target="_blank" rel="noopener noreferrer">
                                {{ task.spoj }}
                            </a>
                        </td>
                        {% if user.is_authenticated %}
                            <td class="text-center">
                                <form method="post" action="{{ request.full_path }}">
                                    {% csrf_token %}
                                    {% if task.id in user_tasks_ids %}
                                        <button class="blank-button link" type="submit" name="delete-user-task" value="{{ task.id }}">
                                            <i class="bi bi-bookmark-check-fill" style="font-size: 25px"></i>
                                        </button>
                                    {% else %}
                                        <button class="blank-button link" type="submit" name="add-user-task" value="{{ task.id }}">
                                            <i class="bi bi-bookmark-plus" style="font-size: 25px"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'includes/table_pagination.html' %}


        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script src="{% static "js/query_params_handler.js" %}"></script>
    <script src="{% static 'js/difficulty_rendering.js' %}"></script>
{% endblock scripts %}