{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
{% endblock stylesheet %}
{% block content %}


    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 col-sm-12">
            {% include 'includes/table_nav.html' %}
            <table class="fixed table table-striped my-2 align-middle">
                <thead class="table-dark ">
                <tr>

                    {% if user.is_authenticated %}
                        <th style="width: 50%">Task</th>
                        <th style="width: 20%">Difficulty</th>
                        <th style="width: 20%">Source</th>
                        <th style="width: 10%">Status</th>
                    {% else %}
                        <th style="width: 55%">Task</th>
                        <th style="width: 20%">Difficulty</th>
                        <th style="width: 25%">Source</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td class="title"><a class="link" href="{% url 'single_task' task.id %}">{{ task.title }}</a>
                        </td>
                        <td>
                            <div class="diff container-lg rounded-2" id="diff">
                                {{ task.difficulty | add:1 }}/{{ task.spoj.amount_of_difficulty_levels }}
                            </div>
                        </td>
                        <td>
                            <a class="link" href={{ task.url }} target="_blank" rel="noopener noreferrer">
                                {{ task.spoj }}
                            </a>
                        </td>
                        {% if user.is_authenticated %}
                            <td class="text-center">
                                <a class="link" href="#"><i class="bi bi-bookmark-plus" style="font-size: 25px"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'includes/table_pagination.html' %}


        </div>
    </div>

{% endblock content %}
{% block scripts %}
    <script>
        const difficulty_divs = document.getElementsByClassName('diff container-lg rounded-2')
        for (let i = 0; i < difficulty_divs.length; i++) {
            const level = parseInt(difficulty_divs[i].innerText.split('/')[0])
            const all_levels = parseInt(difficulty_divs[i].innerText.split('/')[1])

            const div_color = 'hsl(' + (100 - 100.0 / (all_levels - 1) * (level - 1)) + ', 55%, 70%)';
            const font_color = 'hsl(' + (100 - 100.0 / (all_levels - 1) * (level - 1)) + ', 85%, 95%)';
            difficulty_divs[i].style.backgroundColor = div_color;
            difficulty_divs[i].style.color = font_color;
        }

    </script>
{% endblock scripts %}